body {
  background: radial-gradient(#350606, #000);
  margin: 0;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

h2,
h4,
h5,
h6 {
  margin: 0;
}

canvas {
  display: block;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.author {
  display: flex;
  justify-content: center;
}

.more-info {
  padding-bottom: 15px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  position: absolute;
}

.container {
  display: flex;
}

.logarithmicContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.radarContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.deathsContainer {
  display: flex;
}

.columnChartAndTotalsContainer {
  display: flex;
}

.coulmnContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

#logarithmicChartcases {
  width: 100%;
  height: 730px;
}

#logarithmicChartdeaths {
  width: 100%;
  height: 730px;
}

#radarChart {
  width: 100%;
  height: 730px;
}

#columnChart {
  width: 100%;
  height: 550px;
}

#open-modal-button {
  outline: none;
  font-family: inherit;
  background-color: #272730;
  border: 1px solid #5c5c61;
  color: white;
  padding: 5px 32px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

#open-modal-button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

#infected {
  padding-right: 10px;
  color: yellow;
}

#infectedCount {
  color: yellow;
  padding-top: 1px;
}

#deaths {
  padding-right: 10px;
  color: red;
}

#deathsCount {
  color: red;
  padding-top: 1px;
}

#recovered {
  padding-right: 10px;
  color: green;
}

#recoveredCount {
  color: green;
  padding-top: 1px;
}

#icon {
  padding-right: 15px;
  color: #8c2b2c;
}

#icon:hover {
  color: red;
  transition: 1s;
}

#last-updated {
  padding-top: 10px;
}

/* The Modal CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #272730;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 55%;
  border-radius: 6px;
}

.modal-content a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.modal-content h2 {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.total-number {
  display: flex;
  padding-right: 10px;
}

/* Media Queries */
@media only screen and (max-width: 1100px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .logarithmicContainer {
    display: flex;
    flex: 1;
  }

  .radarContainer {
    display: flex;
    flex: 1;
  }

  .modal-content {
    width: 90%;
  }

  .columnChartAndTotalsContainer {
    display: flex;
    flex-direction: column;
  } 
}
